#landing {
    width: 100%;
    margin-left: 5%;
    min-height: 600px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body,
html {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #FFFFFF;
    opacity: 1;
   background: #65160E
}

#home {
    background: url(images/balloon-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    width: 100%;
    overflow-y: scroll;
}

#tf-info {
    width: 100%;
    height: 100%;
    min-height: 800px;
    font-family: 'Fira Sans', sans-serif;
    color: #96C8F3;
    background:url(image/hot-air-balloon-clipart);
}

#tf-Testimonials {
    width: 90%;
    margin-left: 5%;
    min-height: 800px;
    font-family: sans-serif;
    color: lightblue;
}

#tf-Contact {
    width: 100%;
    height: 100%;
    min-height: 800px;
}

#balloon1 {
    height: 800px;
    background-image: url(images/balloon-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#balloon2 {
    height: 800px;
    background-image: url(images/balloon-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#balloon3 {
    height: 800px;
    background-image: url(images/balloon-4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#balloon4 {
    height: 800px;
    background-image: url(images/balloon-5.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #f04e45;
    color: white;
    border-radius: 30px;
    padding: 0.9em 2em;
    margin-top: 1em;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#btn:hover {
    color: #f04e45;
    border-color: #f04e45;
    border-radius: 22px;
    padding: .5em 1.2em;
    background-color: #ffffff;
    border: 1px solid;
    transform: scale(.9);
    -webkit-transition: all 0.4s ease-in-out;
}

#pic {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: TimesNewRoman;
    width: 100%;
    height: 100%;
    color: #00FFFF;
}

#inner {
    width: 105%;
    margin: 1 auto;
}

#image {
    background: url(images/hot-air-balloon.jpg) no-repeat center fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    text-shadow: 2px 2px #080000;
}
#custom-background{
    background-color:#005950;
}

#custom-backgrounds{
     background-color:black;
}

